pipeline/pip_ecbeing_create_target_list_2.json
{
	"name": "pip_ecbeing_create_target_list_2",
	"properties": {
		"description": "バッチ実行結果を参照し先行JOBが当日正常終了していれば処理続行",
		"activities": [
			{
				"name": "GetJobStatus",
				"description": "本日のバッチ実行結果を参照",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "00:01:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COUNT(*) AS cnt\n  FROM batch_exec_rslt_info beri\n WHERE exec_dt = dbo.get_current_exec_dt()\n   AND odbms_stock_md_in_rslt_cd = '1'\n   AND odbms_stock_gr_in_rslt_cd = '1'\n   AND odbms_stock_gm_in_rslt_cd = '1'\n   AND odbms_arriv_md_in_rslt_cd = '1'\n   AND odbms_arriv_gr_in_rslt_cd = '1'\n   AND odbms_arriv_gm_in_rslt_cd = '1'\n   AND odbms_brakeset_in_rslt_cd = '1'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dst_sql_none",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CheckJobStatus",
				"description": "本日のバッチ実行結果をチェック",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetJobStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\n  activity('GetJobStatus').output.firstRow.cnt,\n  1\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "marge_error_exec_rslt_info_adf",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "00:01:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[marge_error_exec_rslt_info_adf]",
								"storedProcedureParameters": {
									"vc_error_mode": {
										"value": {
											"value": "@pipeline().parameters.in_error_mode",
											"type": "Expression"
										},
										"type": "String"
									},
									"vc_exec_na": {
										"value": "ecbeing_goods_in_rslt",
										"type": "String"
									},
									"vc_log_text": {
										"value": "他のバッチ処理がまだ完了していません。",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lnk_stock_sql",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "next_pipeline",
							"description": "後続処理呼出",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pip_ecbeing_create_target_list_3_BULK",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"in_error_mode": {
										"value": "@pipeline().parameters.in_error_mode",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"in_error_mode": {
				"type": "string"
			}
		},
		"folder": {
			"name": "stock"
		},
		"annotations": []
	}
}