pipeline/pip_tlog_get_info.json
{
	"name": "pip_tlog_get_info",
	"properties": {
		"activities": [
			{
				"name": "ImportError1",
				"description": "取込異常終了",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ImportCsv",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "00:01:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[marge_error_exec_rslt_info_adf]",
					"storedProcedureParameters": {
						"vc_error_mode": {
							"value": {
								"value": "@pipeline().parameters.in_error_mode",
								"type": "Expression"
							},
							"type": "String"
						},
						"vc_exec_na": {
							"value": {
								"value": "eai_tlog_in",
								"type": "Expression"
							},
							"type": "String"
						},
						"vc_log_text": {
							"value": "CSVファイルが存在しません。",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lnk_stock_sql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ImportCsv",
				"description": "CSVファイルをインポート",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "MoveWorkFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "CopyDummy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "file_path",
								"value": "$$FILEPATH"
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "appdata/ftpdata/eai/in/sales/wk",
							"wildcardFileName": {
								"value": "*_sales.csv.gz",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "DELETE FROM eai_shop_sale_info WHERE selling_date < CONVERT(NVARCHAR, DATEADD(MONTH, -1, GETDATE()), 112);\nTRUNCATE TABLE tmp_eai_shop_sale_info;",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "file_path",
									"type": "String"
								},
								"sink": {
									"name": "file_path",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"name": "shop_cd",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 3
								},
								"sink": {
									"name": "dept_cd",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 4
								},
								"sink": {
									"name": "jan_cd",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 2
								},
								"sink": {
									"name": "selling_date",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 6
								},
								"sink": {
									"name": "selling_cnt",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "src_blob_pattern_gz",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "tmp_eai_shop_sale_info",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ValidationCheck",
				"description": "バリデーションチェック",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ImportCsv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "UPDATE tmp_eai_shop_sale_info SET validation_cd = 2\n WHERE shop_cd IS NULL\n    OR jan_cd IS NULL\n    OR selling_date IS NULL\n    OR LEN(shop_cd) <> 10\n    OR LEN(selling_date) <> 8\n    OR LEN(jan_cd) > 13\n    OR LEN(dept_cd) > 3\n    OR ISNUMERIC(selling_cnt) <> 1;\nSELECT @@ROWCOUNT as count, CURRENT_TIMESTAMP as updt_dt;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dst_sql_none",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ImportTmp",
				"description": "一時テーブルをインポート",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ValidationLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "MERGE eai_shop_sale_info AS target\nUSING (\n    SELECT shop_cd, jan_cd, selling_date,\n           MIN(dept_cd) AS dept_cd,\n           SUM( CONVERT(INT, CONVERT(DECIMAL, selling_cnt))) AS selling_cnt\n      FROM tmp_eai_shop_sale_info\n     WHERE validation_cd = 1\n     GROUP BY shop_cd, jan_cd, selling_date\n) AS source ON (\n        target.shop_cd      = source.shop_cd\n    AND target.jan_cd       = source.jan_cd\n    AND target.selling_date = source.selling_date\n)\nWHEN MATCHED THEN\n    UPDATE SET selling_cnt = target.selling_cnt + source.selling_cnt\nWHEN NOT MATCHED THEN\n    INSERT (shop_cd, dept_cd, jan_cd, selling_date, selling_cnt, store_cd)\n    VALUES (\n        source.shop_cd,\n        source.dept_cd,\n        RIGHT('0000000000000' + source.jan_cd, 13),\n        source.selling_date,\n        CONVERT(INT, CONVERT(DECIMAL, source.selling_cnt)),\n        SUBSTRING (source.shop_cd, 5, 5)\n    );\nSELECT @@ROWCOUNT as count, CURRENT_TIMESTAMP as updt_dt;",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dst_sql_none",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetRowsRead",
				"description": "読込行数取得",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ImportCsv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "rowsRead",
					"value": {
						"value": "@concat(activity('ImportCsv').output. rowsRead)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IfRowsRead",
				"description": "CSV読込行数により分岐",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ImportTmp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('rowsRead'),'0')\n\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Complete",
							"description": "正常終了",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "00:01:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[marge_normal_exec_rslt_info]",
								"storedProcedureParameters": {
									"vc_exec_na": {
										"value": {
											"value": "eai_tlog_in",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lnk_stock_sql",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "ImportError2",
							"description": "取込異常終了",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "00:01:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[marge_error_exec_rslt_info_adf]",
								"storedProcedureParameters": {
									"vc_error_mode": {
										"value": {
											"value": "@pipeline().parameters.in_error_mode",
											"type": "Expression"
										},
										"type": "String"
									},
									"vc_exec_na": {
										"value": {
											"value": "eai_tlog_in",
											"type": "Expression"
										},
										"type": "String"
									},
									"vc_log_text": {
										"value": "CSVファイルが空か、存在しません。",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lnk_stock_sql",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "ValidationLog",
				"description": "バリデーションログ",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ValidationCheck",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[insert_validation_log]",
					"storedProcedureParameters": {
						"vc_exec_na": {
							"value": {
								"value": "eai_tlog_in",
								"type": "Expression"
							},
							"type": "String"
						},
						"vc_tmp_table": {
							"value": "tmp_eai_shop_sale_info",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lnk_stock_sql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "MoveWorkFolder",
				"description": "作業用フォルダへ移動",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "00:00:10",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"deleteFilesAfterCompletion": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "src_tlog_get_info",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "src_tlog_get_info_wk",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "MoveBackFolder",
				"description": "バックアップフォルダへ移動",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ImportTmp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "00:00:10",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"deleteFilesAfterCompletion": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "src_tlog_get_info_wk",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "src_tlog_get_info_bk",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "CopyDummy",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "00:01:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "dst_blob_dummy",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "src_tlog_get_info_wk",
						"type": "DatasetReference"
					}
				]
			}
		],
		"concurrency": 1,
		"parameters": {
			"in_error_mode": {
				"type": "string",
				"defaultValue": "2"
			}
		},
		"variables": {
			"rowsRead": {
				"type": "String"
			}
		},
		"folder": {
			"name": "stock"
		},
		"annotations": []
	}
}